<h1>Editing <%= @landmark.name %></h1>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <label for="landmark[name]">Landmark Name: </label>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"><br />
  <label for="landmark[year_completed]">Year Completed: </label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>"><br />

    <input type="submit" value="Edit Landmark" id="submit">
</form>
