<h1>Add a Landmark</h1>

<form action="/landmarks" method="POST">
  <label for="landmark[name]">Landmark Name: </label>
  <input type="text" name="landmark[name]" id="landmark_name" value=""><br />
  <label for="landmark[year_completed]">Year Completed: </label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed" value=""><br />

    <input type="submit" value="Create New Landmark" id="submit">
</form>
